body{
	font-family: 'Open Sans', sans-serif;
}

.navbar{
	min-height:81px;
	margin-bottom:0px;
	border:0px;
}

.navbar-brand{
	height:81px;
	line-height: 49px;
}

.row{
	height:100%;
}

.navbar-fixed-bottom{
	background-color: rgb(36,36,36);
}

.container-fluid{
	padding-left:5%;
	padding-right:5%;
}

#copyright{
	font-weight: 300;
	color:#FFFFFF;
	margin-left: 30px;
}

.navbar-link{
	padding-left:.10px;
	padding-right:10px;
	height:81px;
}

.navbar-link a{
	font-weight: bold;
	font-size:19.6px;
}

.navbar-nav>li>a {
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
}
.navbar-link a:hover {
	color:rgb(43,182,216);
}

.navbar-nav.navbar-right:last-child {
	margin-right: 20px;
}

.navbar-default .navbar-nav>li>a {
	line-height: 81px;
	vertical-align: middle;
}

#main-slide-title{
	font-weight:500;
	font-size:60px;
	color:#444;
}

#product-tagline, #buy-a-game{
	color:#FFFFFF;
}

.sub-slide-title{
	font-size:50px;
}

p{
	font-size:1.4em;
}

.navbar-fixed-bottom>.navbar-right{
	padding-top: 8px;
	padding-right: 34px;
}

img.social-link:hover{

}

.centered-text{
	padding-top:4%;
}